<ion-header>
  <ion-navbar>
    <ion-title>ReportCreation</ion-title>

    <ion-buttons end *ngIf="!isNew">
      <button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Category</ion-label>
      <ion-input type="text" [(ngModel)]="report.category"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="report.text"></ion-input>
    </ion-item>

    <ion-item>
      <button (click)="takePicture()">Take a Picture</button>

      Latest Picture:
      <img [src]="base64Image" *ngIf="base64Image" />
    </ion-item>

    <ion-item>
      Waiting for location.
    </ion-item>

  </ion-list>

  <button (click)="save()">Save</button>
</ion-content>
