<ion-header>
  <ion-navbar>
    <ion-title>ReportCreation</ion-title>

    <ion-buttons end *ngIf="!isNew">
      <button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="report.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Category</ion-label>
      <ion-input type="text" [(ngModel)]="report.category"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="report.description"></ion-input>
    </ion-item>

    <ion-item>
        <div *ngIf="!gotLocation">
            Waiting for location.
            <button (click)="editLocation()">Manually set location</button>
        </div>
        <div class="preview-map-container" [hidden]="!gotLocation" (click)="editLocation(latLng)">
            <div id="preview-map" style="width: 100%; height: 100%"></div>
        </div>
    </ion-item>

  </ion-list>

  <button (click)="takePicture()">Take a Picture</button>

  Latest Picture:
  <img [src]="report.base64Image" *ngIf="report.base64Image" />

  <button (click)="dismiss()">Cancel</button>
  <button (click)="save()">Save</button>
</ion-content>
