<ion-header>
  <ion-navbar>
    <ion-title>{{action}} report</ion-title>

    <ion-buttons end>
      <button (click)="save()" [disabled]="!(report.category && report.description && gotLocation && report.base64Image)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="!isNew">
      <button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content class="report-new">
  <ion-card>

    <ion-item>
      <ion-label floating>Category</ion-label>
      <ion-select [(ngModel)]="report.category" cancelText="Cancel" okText="Okay!">
        <ion-option value="Crime and Security">Crime and Security</ion-option>
        <ion-option value="Property">Property</ion-option>
        <ion-option value="Health and safety">Health and safety</ion-option>
        <ion-option value="Other">Other</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea type="text" [(ngModel)]="report.description"></ion-textarea>
    </ion-item>

    <ion-item>
        <div class="preview-map-container" (click)="editLocation()">
          <div *ngIf="!gotLocation">
            Waiting for location.
          </div>
            <div id="preview-map" style="width: 100%; height: 100%"></div>
        </div>
    </ion-item>

    <ion-item>
      <div *ngIf="!report.base64Image">Please take a picture.</div>
      <img class="picture" [src]="report.base64Image" *ngIf="report.base64Image" />

      <button (click)="takePicture()">Take a Picture</button>
    </ion-item>
  </ion-card>
</ion-content>
