.home {
    .cards-bg {
        background-color: #f4f4f7;
    }

    .report-image-preview {
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

}

.button-fab-add {
    z-index: 1;
    margin-bottom: 72px;
}