<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button (click)="auth.login()" *ngIf="!auth.authenticated()">
        <ion-icon name="log-in"></ion-icon>
      </button>
      <button (click)="auth.logout()" *ngIf="auth.authenticated()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg home">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let report of reports" (click)="showDetail(report)">
      <img class="report-image-preview" [src]="report.base64Image">

      <ion-item>
        <h2>{{ report.category }}</h2>
        <p>{{ report.description }}</p>
      </ion-item>
    </ion-card>
  </ion-list>

  <button fab fab-bottom fab-right fab-fixed class="button-fab-add" (click)="createReport()">+</button>
</ion-content>
