<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button (click)="auth.login()" *ngIf="!auth.authenticated()">
        <ion-icon name="log-in"></ion-icon>
      </button>
      <button (click)="auth.logout()" *ngIf="auth.authenticated()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <ion-list inset>
    <ion-item *ngFor="let report of reports" (click)="showDetail(report)">
      <div item-left>{{ report.category }}</div>
      <div item-right>{{ report.text }}</div>
    </ion-item>
  </ion-list>

  <button fab fab-bottom fab-right (click)="showDetail()">+</button>
</ion-content>
